<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <style>
    .target {
      background-color: chartreuse;
    }
  </style>
</head>
<body>
<h1>상품 테스트 출력 예제</h1>
<table border="1">
    <thead>
        <tr>
            <th>순번</th>
            <th>상품명</th>
            <th>상세설명</th>
            <th>가격</th>
            <th>등록일</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="itemDTO, status: ${itemDtoList}"
             th:class="${itemDTO.id%3 == 0} ? 'target': ''">
            <td th:text="${status.index}"></td>
            <td th:text="${itemDTO.itemNm}"></td>
            <td th:text="${itemDTO.itemDetail}"></td>
            <td th:text="${itemDTO.price}"></td>
            <td th:text="${itemDTO.regTime}"></td>
        </tr>
    </tbody>
</table>
</body>
</html>